mm-header
  header.container-fluid.container-lg
    .row
      .col
        mm-logo.py-2(role="banner")
          a(href="/")
            span.d-tl-none
              img.img-fluid(loading="lazy", src="/images/logo-light.svg", title="Logo", alt="Logo (light)", width="394", height="220")
            span.d-td-none
              img.img-fluid(loading="lazy", src="/images/logo.svg", title="Logo", alt="Logo", width="394", height="220")
      .col-auto
        .row.h-100.d-flex.align-items-end.justify-content-center
          if email
            .col-auto.mb-1.lh-sm.d-none.d-md-block.col.text-end.text-nowrap
              .row.g-3
                each office, i in Array.from(offices)
                  .col-auto
                    span!= office.city
                    br
                    a(href="tel:" + office.phoneNumber) #{office.phoneLabel}
              //- .row
              //-   .col-12
              //-     a(href="mailto:" + email)!= email
          each social in socialLinks
            - var svgSrc = "/iconset/svg/" + social.icon + ".svg";
            .col
              a(href=social.url, target="_blank", rel="nofollow" aria-label=social.platform)
                bs5-icon(src=svgSrc, size="32")