mm-header
  header.container-fluid.container-lg
    .row
      .col
        mm-logo.py-2
          a(href="/")
            span.d-tl-none
              img.img-fluid(role="logo" loading="lazy", src="/images/logo-light.svg", title="Logo", alt="Logo (light)", width="394", height="220")
            span.d-td-none
              img.img-fluid(role="logo" loading="lazy", src="/images/logo.svg", title="Logo", alt="Logo", width="394", height="220")
      .col-auto
        .row.h-100.d-flex.align-items-end.justify-content-center
          if email
            .d-none.d-md-block.col.text-end.text-nowrap
              a(href="mailto:" + email)!= email
              br
              each office, i in Array.from(offices)
                a(href="tel:" + office.phoneNumber) #{office.phoneLabel} #{i}
                if i < Array.from(offices).length - 1
                  span.mx-2 |
          each social in socialLinks
            - var svgSrc = "/iconset/svg/" + social.icon + ".svg";
            .col.d-flex.align-items-center.justify-content-end
              a(href=social.url, target="_blank", rel="nofollow")
                bs5-icon(src=svgSrc, size="32")