bs5-sidebar.bg-tl-dark.bg-td-light.text-tl-light.text-td-dark.d-flex.justify-content-center.align-items-center#main-sidebar(
    container-selector="#main",
    position="left",
    auto-hide="true",
    mode="overlap",
)
    .list-group.list-group-tl-dark.list-group-td-light.w-100
        a.list-group-item.list-group-item-action(href="/", rv-route-class-active)= nav.home
        if (nav.links && nav.links.length > 0)
            each link in nav.links
                a.list-group-item.list-group-item-action(href="/" + link.page.data.attributes.slug, rv-route-class-active)= link.label
        each office of offices
            a.list-group-item.list-group-item-action(href="mailto:" + office.email)= office.email
            a.list-group-item.list-group-item-action(href="tel:" + office.phoneNumber)= office.phoneLabel