bs5-sidebar.bg-dark.text-light.d-flex.justify-content-center.align-items-center#main-sidebar(
    container-selector="#main",
    position="left",
    auto-hide="true",
    mode="overlap",
)
    nav.list-group.list-group-dark.w-100
        if (nav.links && nav.links.length > 0)
            each link in nav.links
                a.list-group-item.list-group-item-action(href=link.url, rv-route-class-active=`'${link.url}'`)= link.label