extends ../layouts/main.pug

block content
  .container-fluid.container-lg.my-5
    section.row
      .col-12.mt-5
        if gallery.title
          header
            h1!= gallery.title
        if gallery.content
          div!= gallery.content
    .row
      bs5-photoswipe.col-12(open-image-on-click="true", control-next-icon-src="/iconset/svg/arrow_carrot_thin.svg", control-prev-icon-src="/iconset/svg/arrow_carrot_thin.svg", control-close-icon-src="/iconset/svg/icon_close.svg" control-zoom-in-icon-src="/iconset/svg/icon_plus.svg" control-zoom-out-icon-src="/iconset/svg/icon_minus.svg" control-fullscreen-on-icon-src="/iconset/svg/icon_toggle-fullscreen-on.svg" control-fullscreen-off-icon-src="/iconset/svg/icon_toggle-fullscreen-off.svg" control-share-icon-show="false")
        .row.g-4(rv-image-events rv-masonry='{"percentPosition": true, "itemSelector": ".grid-item", "columnWidth": ".grid-sizer" }')
          each image in gallery.images.data
            .grid-item.col-12.col-md-6.col-lg-3
              .card.hover-card.card-image.bg-transparent.border-0.cursor-pointer
                img.img-fluid.w-100(lazyload="lazy" data-fs-width=image.attributes.width, data-fs-height=image.attributes.height, data-fs-src=image.attributes.url, src=image.attributes.url, alt=image.attributes.alternativeText data-title=image.attributes.caption)
          .grid-sizer.col-12.col-md-6.col-lg-3