extends ../layouts/main.pug

block content
  home-page
    .container-fluid.container-lg.my-5
      .row
        .col-12.col-md.d-flex.align-items-center
          .mx-md-5.ratio.ratio-1x1
            if home.avatar && home.avatar.data && home.avatar.data.attributes && home.avatar.data.attributes.url
              img.img-fluid.rounded-md-circle(loading="lazy", src= home.avatar.data.attributes.url, alt=home.avatar.data.attributes.alternativeText, title=home.avatar.data.attributes.alternativeText, width=home.avatar.data.attributes.width, height=home.avatar.data.attributes.height)
        .col-12.col-md
          .row
            .col-12
              h1.display-2.mt-5.my-md-0
                .fw-bold= home.title
                .fw-light= home.subtitle
              .mt-5!= home.content