if seo
    if seo.canonical
        meta(property="og:url", content=seo.canonical)
    if seo.title
        meta(property="og:title", content=seo.title)
        title= seo.title
    if seo.description
        meta(property="og:description", content=seo.description)
    if seo.type
        meta(property="og:type", content=seo.type)
    if seo.site_name
        meta(property="og:site_name", content=seo.site_name)
    //- Image
    if seo.images
        each image in seo.images
            if image.url
                meta(property="og:image", content=image.url)
                meta(property="og:image:url", content=image.url)
            if image.secure_url
                meta(property="og:image:secure_url", content=image.secure_url)
            if image.type
                meta(property="og:image:type", content=image.type)
            if image.width
                meta(property="og:image:width", content=image.width)
            if image.height
                meta(property="og:image:height", content=image.height)
            if image.alt
                meta(property="og:image:alt", content=image.alt)
    //- Video
    if seo.videos
        each video in seo.videos
            if video.url
                meta(property="og:video", content=video.url)
                meta(property="og:video:url", content=video.url)
            if video.secure_url
                meta(property="og:video:secure_url", content=video.secure_url)
            if video.type
                meta(property="og:video:type", content=video.type)
            if video.width
                meta(property="og:video:width", content=video.width)
            if video.height
                meta(property="og:video:height", content=video.height)
    //- Audio
    if seo.audios
        each audio in seo.audios
            if audio.url
                meta(property="og:audio", content=audio)
                meta(property="og:audio:url", content=audio.url)
            if audio.secure_url
                meta(property="og:audio:secure_url", content=audio.secure_url)
            if seo.video.type